# Configuration for Gmail / Google Workspace
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
# Enable 2FA and generate App Password
SMTP_PASSWORD=your_google_app_password 

# Configuration for Microsoft 365 / Outlook
# SMTP_SERVER=smtp.office365.com
# SMTP_PORT=587
# SMTP_USER=your_email@outlook.com
# SMTP_PASSWORD=your_password
# * In this case, need to modify smtplib.SMTP_SSL to smtplib.SMTP and call server.starttls()
